#portfolio
  %script#modal-template{:type => "x/template"}
    .project-modal-wrapper{"data-modal" => "true", "v-on:click" => "closeProjectModal"}
      .project-details
        .project-summary
          %h1{style: 'margin: 0px;'} {{ business }}
          %h2 {{ released }}
          %h3{style: 'margin-top: 5px; margin-bottom: 5px;'} {{ title }}
          %h4{style: 'margin-top: 2px; padding-bottom: 10px;'} {{ role }}
          .section
            <b>Tech:</b> {{ technology }}
          .section
            <b>Tags:</b> {{ tags }}
          .section{style: 'margin-top: 8px; max-width: 400px;'}
            <b>Description:</b> {{ description }}
          .section{style: 'padding-top: 15px;'}
            %a{href: "{{ url }}", target: "blank"} View online >
        .screenshot
          %img{src: "{{screenshot}}"}
          // v-if private
          // this project is an internal business application. 
          // learn more about the tools that made it possible 
          // by clicking view project.
          // 
          // Visit SendWithUs.com
        
  %h3 Recent Projects
  .project-card-wrap
    - data.portfolio.each_with_index do |project, i|
      .project-modal{"v-if": "this.displayedProject == #{i}"}
        %project{":index": i, 
          title: project.title, 
          screenshot: project.screenshot, 
          released: project.released,
          role: project.role,
          business: project.business,
          tags: project.tags,
          technology: project.technology,
          description: project.description,
          url: project.url}
        
      .project-card{"v-on:click": "displayProjectModal(#{i})"}
        %h5
          = project.business
        %img{src: project.screenshot}
        %h4.title
          = project.title
        .subtitle
          Role: 
          = project.role
        .released
          %small Released: #{project.released}

:javascript 
  Vue.component('project', {
    template: `#modal-template`,
    props: ['index', 'title', 'screenshot', 'released', 'role', 'business', 'tags', 'technology', 'description', 'url'],
    ready: function () {
      document.addEventListener("keydown", (e) => {
        if (e.keyCode == 27) {
          this.$dispatch('closeProjectModal', null)
        }
      });
    },
    methods: {
      closeProjectModal: function(e) {
        if (e.target.className == 'project-modal-wrapper') {
          this.$dispatch('closeProjectModal', null)
        }
      }
    }
  })
  
  new Vue({
    el: '#portfolio',
    data: {
      displayedProject: null
    },
    methods: {
      displayProjectModal: function(project) {
        this.$set('displayedProject', project)
      }
    },
    events: {
      'closeProjectModal': function () {
        this.$set('displayedProject', null)
      }
    }
  })